<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
    <appSettings>
		<!-- Serilog -->
		<add key="Environment" value="Dev" />
		<!--<add key="Environment" value="Test" />-->
		<!--<add key="Environment" value="Prod" />-->
		<add key="TlsDataFile" value="C:\Temp\tsldlp.ini"/>
		<add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>
	<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>ctmFPSa0qaE7nJ55CcjRsB5peXBlREHdfoPo2BI4Me9VLW7sr24WYtNmtUWK6smMCf6Fjahs7rmQBb2cEiA55hsnDfoRKCZlUXT1G991h6LlarMepTnODcJGtX73gSTc1+db/nb63CA9kH/N7wtdUTioF4sTqxedKhOCCeJe2mBEinf9f1C92fjKgnJ2dcalAVHQrnkN+/ATrjilG1tCqheq+lIbbC3g55i3C57qtlBk/Sv5F4kL39HhePWlb0rK3eNiSWsyqpqvlp/ueFr1UCJEpYIIeKqp1dgWqfgeXiAiLIHzyjvjNOfEye6SKRIFUwiQ72NGP7aCi0lu6p4oqA==</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>reIW3XVrAIB3r+0NMpr+bE9faDASWO11njC6HDf6+Iv0ZHRzvuFcXW/KBlJFG5OCy7PZv7+KyZl01KSz7npP846P7H7cPpTc93YbaHl7uvQwgwnjS+UCrbco14wqkTxREvZ/P0Cr+YUp71Md3vq+BH5jOBjjzPfmfxZw4LBp5CkXBdM4n/WRJHVs4+Pc2Eo0No3iT85rJWOm5ocVMQ5m1yG1hqzd59WKOORQSSOmoYDRuADo/92fYwAWIMaG5+G0XJf9Nv4NT0X9M8qfYDtg0lg3DPTs+e4vTjBSZgUW2oBr+3B5mXgC/q/S3AcltSyOYRrfo5qoh5MJZq5v8hCQma+1zZCAgsnQOa/1EiWGtNAkgXKQV5SKgd239ltz/ofB13Kp4y4PKBe3uC6Je20jRUbVZ54qApupuLvgF9dyW9tGaPypv1xj0VpcSTFg5f54Dpow9weMj/H7HWzsWd1MwtQuMT/qca50OQm/JlsU3i+M0S4VTTZ94pCrmkVfxNCkCvtk9YdeF5nfS1PJo/LeCI8+3hTuBltO2vcqvUIu5XepeDMUnJ2FGbwcbOLBQo1WUYhAE28TLmldeP/qCWC5T8qzjIyxvCI5FVQUPYGBfGIPwDgrpBZ5WMPUhum1BOJ88g4m3ofm/tM48C7ONzPK3Q==</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
    <system.web>
        <compilation debug="true" targetFramework="4.8.1" />
        <httpRuntime targetFramework="4.8" />
        <authentication mode="Windows" />
        <authorization>
            <deny users="?" />
        </authorization>
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
</configuration>