@{
    ViewData["Title"] = "כתובת מייל ו/או דומיין לא נמצאו";
}
<style>
    .abs {
        position: absolute;
        top: 340px;
        right: 410px;
        font-size: 15px;
        font-weight: bold
    }
</style>
<div class="abs">
    <a href="http:// bmitSR.jsp">לחץ כאן לפתיחת קריאה ראשונה בנושא הקמת טווח מוצפן</a>
</div>
<div class="float-right color-yellow" dir="rtl" style="color:darkred">
    <img src="~/Images/NoTls.jpg" height="736" width="804" class="float-right" />
    <br /><br />
</div>